body {font-family: Verdana, sans-serif; background-color: #1D2A35; color: #D7D9DA;}

.header {background-color: #1D2A35;}

.nav-header {background-color: #0D1721;}

.text-contact {line-height: 0.7; font-size: 0.9em;}

.footer {padding: 1em 0}

.card-img-top {height: 200px; object-fit: cover;}

#filtro_tipo_vehiculo {width: 240px;}

#carrusel-img {height: 600px;}

.carousel-control-prev-icon,
.carousel-control-next-icon {width: 60px; height: 60px;}


@media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
      display: block;
      margin: auto;
      width: 100%;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
h3{
    font-family: "Arial";
    font-size: 18pt;
    letter-spacing: 1px;
    width: 100%;
    background-color:  #0D1721;
    padding: 15px;
    color: #FFF;
    text-align: center;
    text-transform: capitalize;
    border-radius: 5px;
}
#container{
    background-color: #1D2A35;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz -flex;
    display: -ms -flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;

}
#container form{
    width: 400px;
    padding: 10px;
}
#container form img{
    margin: 15px auto;
    text-align: center;
    display: block;
}
#container form input{
    width: 90%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    margin: 23px auto;
    border-radius: 5px;
    text-align: center;
}
#container form input[type="submit"]{
    background: #0D6EFD;
    padding: 10px;
    color: #FFF;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}
.alert{
    font-weight: 500;
    font-family: "Arial";
    font-size: 16px;
    text-align: center;
    color: red;
}
